@import url('https://fonts.googleapis.com/css?family=Oswald|VT323');
/* change font above!*/

* {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  /* color: red; */
}

body {
  background-color: #edcd1d;
  color: #262626;
}

.nav-bar{
  height: 70px;
  background: #262626;
  z-index: 1;
}

.brand{
  position: absolute;
  right: 10px;
  line-height: 70px;
}

.nav-container{
  max-width: 1000px;
}

#active {
  text-decoration: underline;
  text-decoration-color: #fafafa;
}

.nav-list {
  font-size: 150%;
}

nav{
  float: left;
  padding: 70px 0 0 0;
}

nav ul{
  list-style: none;
}

nav ul li{
  float: left;
  position: relative;
}

nav ul li a{
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  text-decoration: none;
  color: #edcd1d;
}

nav ul li a:hover{
  background: #262626;
  color: #fff;
}

nav ul li a:not(:only-child):after{
  content: '▼';
  padding-left: 5px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a{
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown{
  position: absolute;
  display: none;
  z-index: 1;
}

.nav-mobile{
  display: none;
  position: static;
  top: 0;
  right: 0;
}

#nav-toggle{
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
  position: absolute;
  display: block;
  content: '';
  background: #edcd1d;
  height: 5px;
  width: 35px;
  transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
  top: -10px;
}

#nav-toggle span::after{
  bottom: -10px;
}

#nav-toggle.active span{
  background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
  top: 0;
}

#nav-toggle.active span::before{
  transform: rotate(45deg);
}

#nav-toggle.active span::after{
  transform: rotate(-45deg);
}

.responsive {
  max-width: 100%;
  height: auto;
}

#hero-outer {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

#cover-text, #cover-text h2 {
  color: #fafafa;
}

#cover-text {
  text-transform: uppercase;
  text-align: center;
  height: 170px;
  padding-top: 70px;
  background-color: #fafafa50;
  top: 150px;
  position: absolute;
}

#club-ethos {
  height: 600px;
}

hr {
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.page-header {
  text-align: center;
  font-size: 280%;
  color: #fafafa;
  background-color: #26262670;
  text-transform: uppercase;
}

#twitch-icon, #pubg-icon, #cs2-icon, #rlcs-icon, #about-icon, #trophy-icon, #contact-icon {
  color:#fff
}

.container {
  display: flex;
  max-width: 90%;
  margin: 20px auto;
}

.sidebar {
  background-color: #fafafa;
  color: #262626;
  width: 30%;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
  height: auto;
}

.top-card ul li {
  list-style: none;
}

.top-card h2 {
  border-radius: 10px;
}

.top-card p {
  margin-bottom: 10px;
}

.sidebar h2 {
  background-color: #262626;
  color: #edcd1d;
  font-size: 24px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
  margin-bottom: 10px;
}

.sidebar p {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-card, .right-card, .top-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  height: auto;
  flex-grow: 1;
}

.left-card h2, .right-card h2, .top-card h2 {
  background-color: #262626;
  color: #edcd1d;
  font-size: 24px;
  padding: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0;
}

.left-card p, .right-card p, .top-card p, .sidebar p {
  margin-top: 10px;
  line-height: 1.6;
}

/* Style the sidebar list items */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #2c5aa7;
}
.left-about-heading h2 {
  text-align: right;
  color:#fafafa;
  background-color: #262626;
}

.right-about-heading h2 {
  text-align: right;
  color:#fafafa;
  background-color: #262626;
}

.right-about-heading p, .left-about-heading p {
  text-align: center;
  background-color: #26262670;
  color: #fafafa;
}

#welcome {
  position: relative;
  text-align: center;
  font-size: 280%;
  color: #fafafa;
  background-color: #26262670;
  text-transform: capitalize;
}

footer{
  position:fixed;bottom:0;left:0;right:0;
  height: 40px;
  background: #262626;
  z-index: 1;
}


footer a {
  text-decoration: none;
}

#footer-text {
  color: #fafafa;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline-block;
}

.social-networks i{
  font-size: 150%;
  margin: 10%;
  padding: 3px;
  color: #edcd1d;
} 

#events-h3 {
  text-align: center;
}

#times{
  background-image: url(/TimesBackgroundImg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times div {
  color: #fafafa;
  background-color: #26262680;
  width: 20%;
  height: 250px;
  float: left;
  text-align: center;
}

#times h2 {
  color: #fafafa;

}

#photo {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photo img{
  width: 100%;
}

.store-page-header {
  text-align: center;
}

.counterstrike-fixed-background {
  position: fixed;
  z-index: -1;
  /* width: 200%; */
  height: 1163px;
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
  background-position: center;
  background: url(/images/counterstrike/counterstrike-fixed-background2.jpeg) no-repeat center center;
}

@media only screen and (max-width: 851px) {

  .nav-mobile{
      display: block;
      float: left;
  }

  nav{
      width: 100%;
      padding: 70, 0, 0, 0px;
  }

  nav ul{
      display: none;
  }

  nav ul li {
      float: none;
  }

  nav ul li a{
      padding: 15px;
      line-height: 20px;
      padding-left: 10%;
  }

  #cover-text {
    display: none;
  }

  nav ul li ul li a{
      padding-left: 15%;
  }

  .nav-dropdown{
      position: static;
  }

  #welcome {
    padding: 30px 0;
    margin-top: 0;
    white-space:normal;
    overflow: hidden;
    text-overflow:clip;
    font-size: 200%;
  }

  .right-about-heading h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 150%;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  
  .left-about-heading h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 150%;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  #cover-text {
    width: 30%;
    left: 0px;
    top: 0px;
  }

  hr {
      display: none;
  }

  #times div {
    width: 100%;
    clear: both;
    height: 150px;
    border-style: solid;
    border-bottom-width: .5px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-color: #fff;
    padding: 0;
  }

  #photo {
    column-count: 2;
  }

  .social-networks {
    overflow: hidden;
  }

  .responsive {
    max-width: 150%;
    height: auto;
  }

  #homepage-pubg-para {
    margin-bottom: 60px;
} 
  #bottom-event {
    margin-bottom: 40px;
  }
  
  .container {
    width: 100%;
  }

  .sidebar {
    display: none;
  }

  .right-card {
    float: right;
  }
  
  .left-card {
    float: left;
  }
  
  .top-card {
    float: none;
  }
}

@media screen and (min-width: 852px){
  .nav-list{
      display: block !important;
  }
  #cover-text {
    left: 0px;
    width: 20%;
    font-size: 200%;
}

.responsive {
  height: auto;
  max-height: 800px;
}

#club-ethos {
    width: 100%;
    height: auto;
} */

.left-about-heading, .right-about-heading {
    width: 100%;
}

.right-about-heading h2 {
  width: 100%;
  text-align: left;
  font-size: 250%;
}

.left-about-heading h2 {
  width: 100%;
  text-align: right;
  font-size: 250%;
}

.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 30px;
    font-size: 150%;
} 

#photo {
    column-count: 3;
  }
  nav{
    float: left;
    padding: 0 0 0 0px;
  }

  #footer-text {
    font-size: 180%;
  }

  #photo {
    column-count: 3;
  }

  #times div {
    width: 33.333%;
  
  }
     
  #homepage-pubg-para {
    margin-bottom: 50px;
  }

  .top-card {
    display: none;
  }

  .content {
    width: 80%;
  }
}

