@import url('https://fonts.googleapis.com/css?family=Oswald|VT323');
/* change font above!*/

* {
  margin: 0;
  padding: 0;
  font-family: Oswald;
  /* color: red; */
}

body {
  background-color: #fafafa;
  color: #262626;
}

.nav-bar{
  height: 70px;
  background: #262626;
}

.brand{
  position: absolute;
  right: 10px;
  line-height: 70px;
}

.nav-container{
  max-width: 1000px;
}

#active {
  text-decoration: underline;
}

.nav-list {
  font-size: 150%;
}

nav{
  float: left;
  padding: 70px 0 0 0;
}

nav ul{
  list-style: none;
}

nav ul li{
  float: left;
  position: relative;
}

nav ul li a{
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #262626;
  text-decoration: none;
  color: #fafafa;
}

nav ul li a:hover{
  background: #262626;
  color: #edcd1d;
}

nav ul li a:not(:only-child):after{
  content: '▼';
  padding-left: 5px;
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a{
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown{
  position: absolute;
  display: none;
  z-index: 1;
}

.nav-mobile{
  display: none;
  position: static;
  top: 0;
  right: 0;
}

#nav-toggle{
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
  position: absolute;
  display: block;
  content: '';
  background: #edcd1d;
  height: 5px;
  width: 35px;
  transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
  top: -10px;
}

#nav-toggle span::after{
  bottom: -10px;
}

#nav-toggle.active span{
  background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
  top: 0;
}

#nav-toggle.active span::before{
  transform: rotate(45deg);
}

#nav-toggle.active span::after{
  transform: rotate(-45deg);
}

/* #hero-image {
  background: url("/images/HomepageHeroImg.png") no-repeat center center;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
} */

/* .responsive {
  max-width: 100%;
  height: auto;
} */

#hero-outer {
  height: auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

#cover-text, #cover-text h2 {
  color: #fafafa;
}

#cover-text {
  text-transform: uppercase;
  /* letter-spacing: px; */
  text-align: center;
  height: 170px;
  /* padding-top: 40px; */
  padding-top: 70px;
  background-color: #fafafa50;
  top: 150px;
  position: absolute;
}

#club-ethos {
  height: 600px;
}

#left-about {
  padding-top: 30px;
  width: 100%;
  float: left;
}

#right-about {
  padding-top: 30px;
  width: 100%;
  float: right;
}
/* 
#center-about {
  width: %;
  margin: 0 auto;
} */

hr {
  border-top: 1px solid #777777;
  width: 100%;
  margin: 5px 0;
}

.left-about-heading {
  width: 100%;
  float: right;
  line-height: 20px;
  clear: both;
  /* margin-bottom: 50px; */
}

.right-about-heading {
  width: 100%;
  float: left;
  line-height: 20px;
  clear: both;
  /* margin-bottom: 50px; */
}

  
#homepage-pubg-para {
  padding-bottom: 60px;
}

.left-about-heading h2 {
  text-align: right;
  color:#edcd1d;
  background-color: #262626;
}

.right-about-heading h2 {
  text-align: right;
  color:#262626;
  background-color: #edcd1d;
}

.right-about-heading p {
  text-align: right;
}

#welcome {
  margin: 20px 0;
  text-align: center;
  font-size: 280%;
}

footer{
  position:fixed;bottom:0;left:0;right:0;
  height: 40px;
  background: #262626;
}

#bottom-event {
  padding-bottom: 200px;
}

footer a {
  text-decoration: none;
}

#footer-text {
  color: #fafafa;
}

.social-networks{
  text-align: center;
}

.social-networks li{
  display: inline-block;
}

.social-networks i{
  font-size: 150%;
  margin: 10%;
  padding: 3px;
  /* padding-inline: 100%; */
  color: #edcd1d;
} 

#times{
  background-image: url(/images/TimesBackgroundImg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

#times div {
  color: #fff;
  background-color: #26262680;
  width: 19%;
  height: 300px;
  float: left;
  padding: 30px 0 0 10px;
  text-align: center;
  margin: 2px;
}

#times h2 {
  color: #fafafa;

}

#photo {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photo img{
  width: 100%;
}

@media only screen and (max-width: 851px) {

  .nav-mobile{
      display: block;
      float: left;
  }

  nav{
      width: 100%;
      padding: 70, 0, 0, 0px;
  }

  nav ul{
      display: none;
  }

  nav ul li {
      float: none;
  }

  nav ul li a{
      padding: 15px;
      line-height: 20px;
      padding-left: 10%;
  }

  #cover-text {
    display: none;
  }

  nav ul li ul li a{
      padding-left: 15%;
  }

  .nav-dropdown{
      position: static;
  }

  /* #club-ethos{
    width: 90%;
    height: 1200px;
    margin: 0 auto;
  } */

  #welcome {
    padding: 30px 0;
    margin-top: 0;
    white-space:normal;
    overflow: hidden;
    text-overflow:clip;
  }

  .right-about-heading h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 150%;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  
  .left-about-heading h2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 150%;
    text-indent: 10px;
    padding-top: 2px;
    padding-bottom: 4px;
  }

  #cover-text {
    width: 30%;
    left: 0px;
    top: 0px;
    /* height */
  }

  hr {
      display: none;
  }

  #times div {
    width: 100%;
    clear: both;
    height: 150px;
    border-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    padding: 0;
  }

  #photo {
    column-count: 2;
  }

  .social-networks {
    overflow: hidden;
  }
  
}

@media screen and (min-width: 852px){
  .nav-list{
      display: block !important;
  }
  #cover-text {
    left: 0px;
    width: 20%;
    font-size: 200%;
}

.responsive {
  height: auto;
  max-height: 800px;
}

#club-ethos {
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
} */

.left-about-heading, .right-about-heading {
    width: 100%;
}

.right-about-heading h2 {
  width: 100%;
  text-align: left;
  font-size: 250%;
}

.left-about-heading h2 {
  width: 100%;
  text-align: right;
  font-size: 250%;
}

.left-about-heading p, .right-about-heading p {
    text-align: center;
    padding: 30px;
    font-size: 150%;
} 

#photo {
    column-count: 3;
  }
  nav{
    float: left;
    padding: 0 0 0 0px;
  }

  #footer-text {
    font-size: 180%;
  }

  #photo {
    column-count: 2;
  }
}

